html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  
  button,
  input,
  select {
    cursor: pointer;
    font-family: inherit;
  }
  
  button:active {
    color: #fff;
  }